{% load static %}

<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/daftarbuku.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/javascript.js' %}" type="text/javascript"></script>
    
    <meta charset="UTF-8">

    <title>Yunievers Book!</title>    
  </head>

  <body>
        <div class="container" align="center" style="margin-top: 5%">
                <h1>Cari Buku</h1><br>
                <div style="margin-bottom: 3%">
                    <input id="search" type="text" placeholder="Judul buku">
                    <input id="submitButton" type="submit" value="Cari">
                </div>
        
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Cover</th>
                        <th scope="col">Judul</th>
                        <th scope="col">Author</th>
                    </tr>
                    </thead>
                    <tbody id="result"></tbody>
                </table>
            </div>
  </body>